@charset "utf-8";
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  background-image: radial-gradient(#b5b5b5 5%, transparent 0), radial-gradient(#b5b5b5 5%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-repeat: repeat;
  background-size: 30px 30px;
}

.ellipse {
  border: 1.7px solid rgb(119, 119, 119);
  border-radius: 50% / 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(240, 240, 174);
  width: 109px;
  height: 80px;
  z-index: 1;
  position: relative;
}

.ellipse1, .ellipse2, .ellipse3 {
  position: static;
}

.wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  justify-content: center;  /* 가운데 정렬 */
  align-items: center;      /* 세로 가운데 */
  gap: 10px; 
}

.sub-ellipse {
  width: 84px;
  height: 60px;
  background-color: #bde8ff;
  border-radius: 50%;
  border: 1.5px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 1;
  transition: all 0.1s ease;
  z-index: 1;
}
.sub-ellipse:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.wrapper.show .sub-ellipse {
  opacity: 1;
  visibility: visible;
}

.sub-ellipse.top {
  top: -25%;
  left: 27%;
  margin-bottom: 10px;
}

.sub-ellipse.left {
  top: 27%;
  right: 97%;
}

.sub-ellipse.right {
  top: 53%;
  right: -30%;
}
.sub-ellipse.bottom {
  bottom: -20%;
  left: 16%;
}

#concept-viewer {
  display: none;                  /* 기본은 숨김 */
  position: fixed;                /* 화면 전체를 덮는 위치 고정 */
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(223, 222, 222, 0.538);
  justify-content: center;        /* flex 중앙 정렬 */
  align-items: center;
  z-index: 1000;                  /* 맨 위에 뜨도록 */
}
#concept-image {
  max-width: 80vw;  /* 화면 가로의 80%까지만 */
  max-height: 80vh; /* 화면 세로의 80%까지만 */
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  background-color: white; /* 혹시 투명 PNG여도 흰 배경 */
}
svg#lines-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* 선은 클릭 방해 안 하도록 */
  z-index: 0;
}
#home-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  height: 50px;
  background-color: #ffde7a; /* 노란색 계열 */
  border-radius: 8px;
  cursor: pointer;
  border: 10px;
  box-shadow: 0 3px 5px rgba(83, 83, 83, 0.2);
  transition: 0.2s;
}

#home-btn:hover {
  background-color: #f1c232; /* hover 시 진한 색 */
}









